* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: cornflowerblue;
}

.container {
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.key {
    display: inline-block;
    text-align: center;
    vertical-align: center;
}

.white-keys {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-keys .key {
    background-color: white;
    border: 0.5vw outset darkgrey;
    color: black;
    height: 6vw;
    font-size: 1.5vw;
    padding-top: 17vw;
    width: 5vw;
}

.black-keys {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.black-keys .key {
    position: relative;
    background-color: black;
    color: white;
    height: 5vw;
    font-size: 1.4vw;
    padding: 8vw 1vw 0 1vw;
    margin: 0 1vw 0 1vw;
    width: 1.8vw;
    z-index: 10;
    border: 0.5vw outset darkgrey;
    top: 14vw;
}

.black-keys .key-w {
    right: 1.4vw;
}

.black-keys .key-e {
    right: 2.1vw;
}

.black-keys .key-t {
    left: 2.8vw;
}

.black-keys .key-y {
    left: 2vw;
}

.black-keys .key-u {
    left: 1.4vw;
}